<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="img\MLS_logo_backgroundGraphic.jpg" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">About Major League Soccer</h1>
        <p>
          Major League Soccer is the top-flight professional soccer league in the United States and Canada, and was founded in 1996 after the USA hosted the 1994 FIFA World Cup.

          <BR><BR>
          Major League Soccer 420 Fifth Avenue, 7th floor New York, NY, 10018 Phone: (212) 450-1200
        </p>
      </div>
    </div>
  </div>
</main>
