<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="https://avatars.githubusercontent.com/u/6644259" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">about.ejs파일 제목입니다</h1>
        <p>
         about.ejs파일 본문입니다 여긴 대충완료
        </p>
      </div>
    </div>
  </div>
</main>
