<!-- views/index.ejs -->

<!-- MAIN 페이지 내용 
커버컨테이너 배경 짙게
커버박스가 아래로 내려오게-->


<main class="video-background">
  <div class="video-foreground">
    <iframe class="ww" src="https://www.youtube.com/embed/gI3YbT7HwIY?start=2&autoplay=1&mute=1&controls=0&loop=1&playlist=gI3YbT7HwIY"  allowfullscreen></iframe>
  </div>

  <div class="text-right">
  <div class="cover-content h-100 w-100 text-white">
    <div class="cover-box-2">
      <h1 class="page-title"></h1>
      <p class="size-up page-description">
        OUR SOCCER OUR WAY
      </p>
    </div>
  </div>
</main>


 


