<!-- views/partials/header.ejs -->

<!-- HEADER -->
<header class="header">
  <div class="container">
    <div class="container-left">
      <!-- 로고 -->
      <figure class="logo">
        <a href="/">
          <img src="../img/MLS_logo.png" width="45" height="45">
          <h1 class="site-title">
          </h1>
        </a>
      </figure>

      <%- include('_navigation.ejs') %>
      <div class="container-right">
        <% if (loggedIn) { %>
          <span>Logged in as</span>
          <a
            class = "btn btn-outline-secondary"
            href="<%= `/users/${currentUser._id}` %>"
            >
            <%= currentUser.username %>
          </a>
          <a class="btn ut-red" href="/users/logout">Logout</a>
        <% } else { %> 
          <a 
            class="btn btn-outline-secondary"
            href = "/users/login">
            Login
          </a>
          <a class="btn ut-red" href="/users/new">Register</a>
          
        <% } %>
      </div>
    </div>


  </div>
</header>
