<!-- views/partials/header.ejs -->

<!-- HEADER -->
<header class="header">
  <div class="container">
    <div class="container-left">
      <!-- 로고 -->
      
      <figure class="logo">
        <a href="/">
          <img src="../image/MLS_logo.png" width="45" height="45">
          <h1 class="site-title">
            
            <span class="ut-red">MLS</span>

        </a>
      </figure>

      <!-- 메뉴 -->
      <%- include('_navigation.ejs') %>
    </div>

    <!-- <div class="container-right">
      <a href="/users/new" class="btn btn-outline-danger">Sign Up</a>
      <a href="/users/login" class="btn btn-outline-primary">Login</a>
    </div> -->
  </div>
</header>
