<!-- views/partials/navigation.ejs -->

<!-- 메뉴 -->
<nav class="menu">
  <ul class="nav-bar nav">
    <li class="nav-item">
      <a class="nav-link menu-item" name="About" href="/about">About</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="menu-item nav-link dropdown-toggle"
        id="dropdown00"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        name="Subscribers"
        href="/subscribers"
        >Clubs</a
      >
      <div class="dropdown-menu" aria-labelledby="dropdown00">
        <a class="dropdown-item" href="/trains">Trains</a>
        <a class="dropdown-item" href="/trains/new">Create New</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a
        class="menu-item nav-link dropdown-toggle"
        id="dropdown01"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        name="Subscribers"
        href="/subscribers"
        >Player Stats</a
      >
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" href="/subscribers">View All</a>
        <a class="dropdown-item" href="/subscribers/new">Create New</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a
        class="menu-item nav-link dropdown-toggle"
        id="dropdown02"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        name="Users"
        href="/users"
        >Club Stats</a
      >
</nav>

<!-- 반응형 메뉴 버튼 -->
<div id="menu-button">Menu</div>
